# Ignore these directories in the main directory
/refs
/docs
/logs
/gpu
/tests
/data
/tools

# Ignore virtual environments
.venv/
venv/
ENV/
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore other environment and editor-specific files
.DS_Store
.vscode/

# Ignore log files
hash_errors.log